{% load otree staticfiles %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->

<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">
        Instrucciones - Tarea {{ counter2 }}
    </h2>

        <p>
            En esta tarea, usted tomará decisiones que pueden afectar su propio pago y el de su pareja. 
        </p>

        <p>
            En esta tarea, se le dará un conjunto de posibles combinaciones de fichas para usted y su pareja. 
            <b>En cada ronda de esta tarea, sus fichas se indicarán en el eje horizontal y los de su pareja en el eje vertical.</b>
            Se le pedirá que elija una combinación y envíe su decisión.     
        </p>

        <p>
            La siguiente figura muestra un ejemplo. Verá un gráfico 
            que representa las asignaciones de las fichas. En cada ronda, sus fichas se
            indicarán en el eje horizontal y los de su pareja en el eje vertical.
            Esta información también se muestra en la tabla a la derecha de su pantalla.
            A lo largo de la sesión, sus fichas van a ser representadas en azul y las  de su pareja en
            anaranjado.
        </p>
        
        
        <p>
            Por ejemplo, el punto (3.9, 32.7) representado en el gráfico por un cuadrado rojo indica que usted
            recibiría 3.0 fichas y su contraparte 32.7 fichas. Esto también está indicado en la etiqueta:
            "Tú: 3.9, Tu pareja: 32.7" al costado del cuadrado rojo y en la tabla al lado de la figura.
        </p>
        <br>
        <img src="{% static 'det_giv_example.PNG' %}" width="500" align="center"/>
        <br>
        <p>
            Al inicio de cada tarea, el cuadrado rojo aparecerá en un lugar aleatorio.
            Para realizar una elección, arrastre el cuadrado rojo con su puntero a cualquier posición en la
            línea gris. Solo combinaciones a lo largo de esta línea son factibles. Puede
            probar todas las combinaciones que usted quiera antes de tomar una decisión. 
        </p>

        <p>
        <b>RECUERDE:</b>
        <ul>
            <li> Tome cada decisión con cuidado porque podría ser seleccionada para el pago.</li> 

            <li> En esta tarea, el eje horizontal indica las fichas pagadas a usted, y el eje vertical indica las fichas pagadas a su pareja. </li> 

            <li> En esta tarea, el círculo rojo muestra su decisión de fichas pagadas a usted y a su pareja.</li> 
        </ul>
        </p>
        <p>
            A continuación, se le muestra una ronda de prueba.
        </p>

</div>


