{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("arrive_time").value = (new Date()).toISOString();
      }
    </script>
{% endblock %}


{% block title %}
    Parejas
{% endblock %}

{% block content %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
    <input type="hidden" name="time_InitialInstructions_2" id="arrive_time"/>

    
    <p> Para las siguientes 4 tareas, usted será emparejado aleatoria y anónimamente con otro 
        participante para formar una pareja.
        Los participantes no conocerán la identidad de su contraparte en ningún momento de 
        la sesión. Usted tomará decisiones que pueden afectar el pago de su pareja o su pareja 
        tomará decisiones que pueden afectar su pago.
    </p>
    <p>
       
        Dentro de cada pareja habrá una persona con el rol de <i style="color: #1b6d85">Decisor</i> y otra con el rol de
        <i style="color: #1b6d85">No decisor</i>. Estos roles van a ser asignados aleatoriamente entre las
        parejas y se mantendrán  durante las próximas 4 tareas. Si la ronda seleccionada para el pago pertenece a una de estas 4 tareas, solo la decisión tomada por el Decisor determinará las
        ganancias finales. 
        Los roles de Decisor y No decisor serán revelados después que usted y su contraparte hayan terminado de tomar sus decisiones. 
        
    </p>
 
    <p>
        Recuerde que si termina antes que su pareja, tendrá que esperar a que él/ella termine con 
        sus decisiones para que se seleccione la ronda que se paga. 
    </p>

    {% next_button %}
{% endblock %}

