{% extends "global/Base.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
      window.onload = function () 
      {
        document.getElementById("arrive_time").value = (new Date()).toISOString();
      }
    </script>
{% endblock %}


{% block title %}
    ¡Bienvenidos!
{% endblock %}

{% block content %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
    <input type="hidden" name="time_InitialInstructions_1" id="arrive_time"/>

    <h3>Instrucciones Generales</h3>

    <p>
        Por favor, préstele atención a las instrucciones. Se le pedirá que tome decisiones en
        {{ Constants.number_types_of_tasks | json }}
        diferentes tareas. Las reglas específicas se les proveerán antes de que empiece cada tarea.
       
    </p>
    <p>
        Su pago final hoy dependerá en parte de las decisiones tomadas y del azar.
        Al final del experimento, se le pagará por su medio de pago de preferencia.
        Todos los pagos se realizarán por medio digital. Además, recibirá un pago de
        7.00 soles solo por su participación.
    </p>
    <p>
        Durante la sesión, se usarán <strong>Fichas del Experimento</strong> en vez de soles.
        Al final del estudio, su ganancia en fichas será transferida a soles. Usted recibirá 1 sol por cada
        4 fichas que tenga al final de la sesión.
        Es importante de que no se distraiga con su celular o su entorno durante la sesión. Si tiene alguna pregunta,
        escríbanos por el WhatsApp o el correo del E2LabUP. El experimento debería terminar en aproximadamente una hora.
    </p>

    <h3>Tareas, rondas de decisión, ganancias</h3>

    <p>
        El estudio consiste de {{ Constants.number_types_of_tasks | json }} tareas diferentes. Cada tarea tiene
        múltiples rondas de decisión. La sesión tiene un total de {{ Constants.num_rounds | json }} rondas de decisión.
        Antes de que cada tarea empiece, recibirá instrucciones específicas.
    </p>
    <p>
        Al finalizar el experimento, la computadora seleccionará aleatoriamente una ronda de decisión para realizar el pago final.
        Todas las rondas de decisión tienen la misma probabilidad de ser seleccionadas.
        Por lo tanto, le conviene tratar cada decisión como si fuera la ronda seleccionada para el pago.
        Al final de toda la sesión, será informado/a de sus ganancias.   
    </p>
    
    <h3>Parejas</h3>
    
    <p> 
        Para las siguientes 4 tareas, usted será emparejado/a aleatoria y anónimamente con otro 
        participante para formar una pareja.
        Los participantes no conocerán la identidad de su contraparte en ningún momento de 
        la sesión. Usted tomará decisiones que pueden afectar el pago de su pareja o su pareja 
        tomará decisiones que pueden afectar su pago.
    </p>
    <p>
       
        Dentro de cada pareja habrá una persona con el rol de <i style="color: #1b6d85">Decisor</i> y otra con el rol de
        <i style="color: #1b6d85">No decisor</i>. Estos roles van a ser asignados aleatoriamente entre las
        parejas y se mantendrán  durante las próximas 4 tareas. Si la ronda seleccionada para el pago pertenece a una de estas 4 tareas, solo la decisión tomada por el Decisor determinará las
        ganancias finales. 
        Los roles de Decisor y No decisor serán revelados después que usted y su contraparte hayan terminado de tomar sus decisiones. 
        
    </p>
 
    <p>
        Recuerde que si termina antes que su pareja, tendrá que esperar a que él/ella termine con 
        sus decisiones para que se seleccione la ronda que se paga. 
    </p>  
    
    </br>

    {% next_button %}
{% endblock %}
