{% load otree staticfiles %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">
        Instrucciones - Tarea {{ counter2 }}
    </h2>

    <p> 
        En esta tarea, usted tomará decisiones que pueden afectar su propio pago y el de su pareja. 
    </p>
    <p>
        Se le pedirá escoger la probabilidad con la que ocurrirán el Estado A y el Estado B. Estos estados son mutuamente excluyentes. Es decir, que solo uno de ellos puede ocurrir.  
        La siguiente figura muestra un ejemplo.
    </p>
    <p>
        En el gráfico, sus fichas están representadas en el eje horizontal y las
        fichas de su pareja en el eje vertical. Cada uno de los dos posibles estados está representado
        por un círculo en este gráfico. Usando el deslizador a la derecha del gráfico, debe decidir cuál es la probabilidad de cada
        Estado en términos porcentuales (%). En cada ronda, los estados A y B darán pagos distintos, tanto a usted como a su pareja.
        En el ejemplo de la figura, se muestran los dos Estados: A = (Tú: 5, Pareja: 32) y B = (Tu: 79, Pareja: 5).
    </p> 
    <br>   
    <img src="{% static 'probability_example.PNG' %}" width='500' class='center'/>
    <br>
 
    <!--
    <p>
        <img alt="Sample Screenshot - Task PR"
             src="{% static "probability.png" %}"
             width="500"
             align="center"/>
    </p> </br>
    -->

    <p>
        <b>En el lado derecho de la pantalla, tiene una herramienta deslizante donde puede elegir la 
        probabilidad del Estado A</b>, del 0 % al 100 %. Arrastre el control deslizante hasta el 
        porcentaje elegido. Por ejemplo: si elige 40, el Estado A ocurrirá con un 40 % de 
        probabilidad y el Estado B con un 60 % de probabilidad. Si elige 100, el Estado A 
        ocurrirá con seguridad (100% de probabilidades). Si elige 0, el Estado B ocurrirá con seguridad.    
    </p>

    <p>
        En el gráfico, <b>el tamaño del círculo de cada Estado aumentará con las posibilidades que se le den. </b>. La misma 
        información del gráfico se muestra en la tabla debajo de la barra deslizante. A lo largo de la sesión, 
        <b style="color: blue"> sus fichas serán representadas en azul </b> y los de 
        <b style="color: orange"> su compañero en anaranjado </b>.
    </p>

    <p>
        Una vez que haga su elección, presione el botón Enviar decisión y continúe con la siguiente ronda. 
    </p>
    </p>
        <b>
        RECUERDE:
        <ul>
            <li> Tome cada decisión con cuidado porque podría ser seleccionada para el pago.</li> 

            <li> En esta tarea, el eje horizontal indica las fichas pagadas a usted, y el eje vertical indica las fichas pagadas a su pareja. </li> 

            <li> En esta tarea, debe usar el deslizador para decidir la probabilidad de los estados A y B. Su elección se verá reflejada 
                en el tamaño de los círculos negros y en la tabla. Su lotería está indicada de color azul en la tabla y la lotería de su pareja, de color naranja.</li> 
        </ul>
    </b>
    </p>
    <p>
    A continuación, se le presenta una ronda de prueba. 
    <p>
</div>


