{% load otree staticfiles %}
<!--
    Principal maintainer: Eli Pandolfo <epandolf@ucsc.edu>
    Contributor: Kristian Lopez Vargas <kristianlvargas@gmail.com>
-->
<div class="instructions well well-lg">


    {% if mode == 'sec_1bl_1ch' or mode == 'sec_1bl_2ch' or mode == 'sec_2bl_1ch' or mode == 'sec_2bl_2ch' or mode == 'sec_ownrisk' or mode == 'sec_ownrisk_fixedother' or mode == 'sec_otherrisk_ownfixed' %}

        <h2 class="panel-sub-heading">
            Instrucciones - Tarea {{ counter2 }}
            {% comment %}
            {% if mode == 'sec_1bl_1ch'%}
                Instrucciones - Tarea 2
            {% elif mode == 'sec_1bl_2ch'%}
            Instrucciones - Tarea 4
            {% elif mode == 'sec_2bl_1ch'%}
            Instrucciones - Tarea 3
            {% elif mode == 'sec_2bl_2ch'%}
            Instrucciones - Tarea 9
            {% elif mode == 'sec_ownrisk' %}
            Instrucciones - Tarea 1
            {% elif mode == 'sec_ownrisk_fixedother' %}
            Instrucciones - Tarea 6
            {% elif mode == 'sec_otherrisk_ownfixed' %}
            Instrucciones - Tarea 7
            {% endif %}
            {% endcomment %}
        </h2>


        {% if mode == 'sec_1bl_1ch' %}
            <p>
                En esta tarea, usted tomará decisiones que pueden afectar su propio pago y el de su pareja. 
            </p>
            <p>
                En cada ronda de decisión, habrá dos estados posibles : Estado A y Estado B. Estos estados son mutuamente excluyentes. 
                Es decir, que solo uno de ellos puede ocurrir. Piense en estos estados como el clima: puede estar ó soleado o nublado. 
                Sin embargo, cuando toma su decisión, no se sabe qué estado ocurrirá. Ambos estados tienen la misma probabilidad de 
                ocurrir, es decir, 50%.
            </p>
            <p>
                Su decisión estará representada por un punto en un gráfico como el de la figura a continuación.
                <b> En este gráfico, el eje horizontal indica las fichas pagadas si ocurre el estado A, y el eje
                vertical indica las fichas pagadas si ocurre el estado B.</b> La probabilidad de que ocurra cada
                estado es del 50 % y se muestra en la etiqueta de cada eje.     
            </p>
            <p>
                La posición de un punto en este gráfico representa un sorteo. Por ejemplo, el punto en la
                ubicación (40, 20) indica que si ocurre el Estado A, el sorteo paga 40 fichas; y si ocurre 
                el Estado B, el sorteo paga 20 fichas. <i style="color: blue">Su sorteo</i> se
                representará con un <i style="color: blue">cuadrado azul</i> , y el <i style="color: orange"> sorteo de su pareja</i> por un
                <i style="color: orange">círculo naranja</i>.
            </p>
            <h4> Su Tarea: </h4>
            <p>
                En esta tarea, en cada ronda de decisión, usted elige un sorteo para usted y para su pareja. En cada decisión, 
                tanto usted como su pareja comparten la misma fortuna.
                <b>Es decir, en cada estado, la cantidad de fichas que ambos reciben es la misma. </b> 
                Dado que en esta tarea ambos enfrentan la  misma suerte,
                su cuadrado azul y el círculo naranja de su pareja siempre se ubican en la misma posición.
                En el ejemplo, ambos están en el lugar (50, 16.8). Esto significa que, si ocurre el Estado A, ambos
                (usted y su pareja) obtendrán 50 fichas cada uno y, si ocurre el Estado B, cada uno obtendrá 16.7 fichas.
                Al comienzo de cada ronda de decisión, el cuadrado y el círculo aparecerán en una posición aleatoria.
                Para elegir, arrastre el cuadrado o el círculo a la ubicación elegida. El  otro símbolo lo seguirá. 
                Puede probar todas las loterías que usted quiera antes de tomar una decisión. Una vez que tome su decisión,
                presione el botón Enviar Decisión y continúe con la siguiente ronda.
                <br>
                <img src="{% static 'sec_1bl_1ch_example.PNG' %}" width='500' class='center'/>
                <br>
            </p>
                <b>
                    RECUERDE:
                <ul>
                    <li> Tome cada decisión con cuidado porque podría ser seleccionada para el pago.</li> 
                    
                    <li> En esta tarea, el eje horizontal indica las fichas pagadas si ocurre el estado A, y el eje vertical indica las fichas pagadas si ocurre el estado B.</li> 
                    
                    <li> En esta tarea, el cuadrado azul señala tu lotería y el círculo naranja señala la lotería de tu pareja.</li> 
                </ul>
                </b>
            </p>
            <p>A continuación, se le presenta una ronda de prueba. </p>
            

        {% elif mode == 'sec_2bl_1ch' %}
            <p>
                En esta tarea, usted tomará decisiones que pueden afectar su propio pago y el de su pareja. 
            </p>
            <p>
                En cada ronda de decisión, habrá dos estados posibles : Estado A y Estado B. Estos estados son mutuamente excluyentes. 
                Es decir, que solo uno de ellos puede ocurrir. Piense en estos estados como el clima: puede estar ó soleado o nublado. 
                Sin embargo, cuando toma su decisión, no se sabe qué estado ocurrirá. Ambos estados tienen la misma probabilidad de 
                ocurrir, es decir, 50%.
            </p>
            <p>
                Su decisión estará representada por un punto en un gráfico como el de la figura a continuación.
                <b> En este gráfico, el eje horizontal indica las fichas pagadas si ocurre el estado A, y el eje
                vertical indica las fichas pagadas si ocurre el estado B.</b> La probabilidad de que ocurra cada
                estado es del 50 % y se muestra en la etiqueta de cada eje.     
            </p>
            <p>
                La posición de un punto en este gráfico representa un sorteo. Por ejemplo, el punto en la
                ubicación (40, 20) indica que si ocurre el Estado A, el sorteo paga 40 fichas; y si ocurre 
                el Estado B, el sorteo paga 20 fichas. <i style="color: blue">Su sorteo</i> se
                representará con un <i style="color: blue">cuadrado azul</i> , y el <i style="color: orange"> sorteo de su pareja</i> por un
                <i style="color: orange">círculo naranja</i>.
            </p>
            <h4> Su Tarea: </h4>
            <p>
                En esta tarea, en cada ronda de decisión, usted elige un sorteo para usted y para su pareja. 
                En cada decisión, tanto usted como su pareja tienen fortunas opuestas.
                <b> Es decir, lo que usted obtendría en el Estado A es igual a lo que recibiría su pareja en el
                Estado B. De manera similar, lo que usted obtendría en el Estado B es lo que obtendría su
                pareja en el Estado A. </b> Dado que usted y su pareja enfrentan fortunas  opuestos, su cuadrado
                azul y el círculo naranja de su pareja siempre están en posiciones especulares en el
                gráfico. En la captura de pantalla, por ejemplo, su cuadrado está en (Estado A = 11,7, B = 29,5)
                y el círculo de su pareja en (Estado A = 29,5, B = 11,7). Esto significa que, si ocurre el
                Estado A, usted recibe 11,7 y su pareja obtiene 29,5; y, si ocurre el Estado B, usted obtiene
                29,5 y su pareja obtiene 11,7. Al comienzo de cada ronda de decisión, el cuadrado y el círculo
                aparecerán en una posición aleatoria. Para elegir, arrastre el cuadrado o el círculo a la
                ubicación elegida. El otro símbolo se ajustará automáticamente. Puede probar todas las loterías que usted quiera antes de tomar una decisión. Una vez que tome su decisión,
                presione el botón Enviar Decisión y continúe con
                la siguiente ronda.
            </p>
            <br>
            <img src="{% static 'sec_2bl_1ch_example.PNG' %}" width='500' class='center'/>
            <br>
            <p>
                <b>RECUERDE:
                <ul>
                    <li> Tome cada decisión con cuidado porque podría ser seleccionada para el pago.</li> 
              
                    <li> En esta tarea, el eje horizontal indica las fichas pagadas si ocurre el estado A, y el eje vertical indica las fichas pagadas si ocurre el estado B.</li> 
              
                    <li> En esta tarea, el cuadrado azul señala tu lotería y el círculo naranja señala la lotería de tu pareja.</li> 
                </ul>
                </b>
            </p>
            <p>A continuación, se le presenta una ronda de prueba. </p>

        {% elif mode == 'sec_ownrisk' %}
            <p>
                En esta tarea, usted tomará decisiones que pueden afectar solamente su propio pago.
            </p>
            <p>
                En cada ronda de decisión, habrá dos estados posibles : Estado A y Estado B. Estos estados son mutuamente excluyentes. 
                Es decir, que solo uno de ellos puede ocurrir. Piense en estos estados como el clima: puede estar ó soleado o nublado. 
                Sin embargo, cuando toma su decisión, no se sabe qué estado ocurrirá. Ambos estados tienen la misma probabilidad de 
                ocurrir, es decir, 50%.
            </p>
            <p>
                Su decisión estará representada por un punto en un gráfico como el de la figura a continuación.
                <b> En este gráfico, el eje horizontal indica las fichas pagadas si ocurre el estado A, y el eje
                vertical indica las fichas pagadas si ocurre el estado B.</b> La probabilidad de que ocurra cada
                estado es del 50 % y se muestra en la etiqueta de cada eje.
            </p>     
            <p>
                La posición de un punto en este gráfico representa un sorteo. Por ejemplo, el punto en la
                ubicación (40, 20) indica que si ocurre el Estado A, el sorteo paga 40 fichas; y si ocurre 
                el Estado B, el sorteo paga 20 fichas. <i style="color: blue">Su sorteo</i> se
                representará con un <i style="color: blue">cuadrado azul</i>.
            </p>
            <h4> Su Tarea: </h4>
            <p>
                En esta tarea, en cada ronda de decisión, <b> usted elige su propio sorteo. </b> Consulte la figura a continuación para 
                ver un ejemplo.</b> Su elección está representada por un cuadrado azul. En la figura de muestra, la ubicación del
                cuadrado es (40, 20,1). Esto significa que, si ocurre el estado A, usted obtendrá 40 fichas y si
                ocurre el estado B, obtendrá 20,1 fichas. Al comienzo de cada pantalla de decisión, el
                cuadrado aparecerá en una posición aleatoria. Para hacer una elección, arrastre el cuadrado a
                la ubicación de su preferencia. Puede probar todas las loterías que usted quiera antes de tomar
                una decisión. Una vez que tome su decisión, presione el botón Enviar Decisión y continúe con  la siguiente ronda.
            </p>
            <br>
            <img src="{% static 'sec_ownrisk_example.PNG' %}" width='500' class='center'/>
            <br>
            <p>
                <b> RECUERDE:
                <ul>
                    <li> Tome cada decisión con cuidado porque podría ser seleccionada para el pago.</li> 
                
                    <li> En esta tarea, el eje horizontal indica las fichas pagadas si ocurre el estado A, y el eje vertical indica las fichas pagadas si ocurre el estado B.</li> 
                
                    <li> En esta tarea, el cuadrado azul indica tu lotería.</li> 
                </ul>
                </b>
            </p>
            <p>A continuación, se le presenta una ronda de prueba. </p>
                
        {% elif mode == 'sec_ownrisk_fixedother' %}
            <p>
                Para esta tarea, la fortuna de su pareja es fija y debe elegir su propio sorteo. Dado que 
                usted y su pareja enfrentan diferentes fortunas, su cuadrado azul y el círculo naranja de su 
                pareja estarán en diferentes posiciones. En la captura de pantalla, por ejemplo, su cuadrado 
                está en (Estado A = 35, B = 9) y el círculo de su pareja en (Estado A = 10, B = 20). 
                Esto significa que, si sucede el Estado A, usted recibe 35 y su pareja obtiene 10; y si 
                ocurre el estado B, obtienes 9 y su pareja obtiene 20. Puedes mover tu cuadrado pero no 
                puedes mover el círculo de tu pareja. Además, tenga en cuenta que las probabilidades de cada 
                estado pueden variar en diferentes rondas de decisión. Al comienzo de cada ronda de decisión, 
                el cuadrado aparecerá en una posición aleatoria. Para hacer una elección, arrastre el cuadrado a 
                su ubicación de preferencia.
            </p>
            <p>
                <b>Toma cada decisión con cuidado porque podría ser seleccionada para el pago.  </b>
            </p>
        {% elif mode == 'sec_otherrisk_ownfixed' %}

        {% endif %}

            <p>
                Solo las combinaciones en las líneas son opciones factibles. La misma información que se 
                muestra en el gráfico, se muestra en la tabla al lado. Cada fila representa un estado posible 
                y las fichas pagadas si se produce dicho estado. Puedes probar tantas combinaciones como quieras 
                antes de decidirte. Una vez que haga su elección, presione el botón Enviar Decisión y continúe con 
                la siguiente ronda.
        </p>

        <!-- Budget lines -->
         {% if sec1 == '1bl' %}
            <!--
            <p>
                1BL 1BL 1BL :::: Instructions for 1 budget line only. Will be followed by either: instructions for 1 choice, or instructions for 2 choices.
            </p>
            -->
        {% elif sec1 == '2bl' %}
            <!--
            <p>
                2BL 2BL 2BL :::: Instructions for 1 budget line only. Will be followed by either: instructions for 1 choice, or instructions for 2 choices.
            </p>
            -->
        {% endif %}

        <!-- Choices -->
        {% if sec2 == '1ch' %}
            <!--
            <p>
                1CH 1CH 1CH :::: Instructions for 1 choice only. Will follow either: instructions for 1 budget line, or instructions for 2 budget lines.
            </p>
        -->
        {% elif sec2 == '2ch' %}
        <!--
            <p>
                2CH 2CH 2CH :::: Instructions for 2 choices only. Will follow either: instructions for 1 budget line, or instructions for 2 budget lines.
            </p>
        -->
        {% endif %}
        
    {% endif %}

{% comment %}
{# IMAGES #}
            {% if mode == 'sec_1bl_1ch' %}
                <img src="{% static "sec_1bl_1ch_1.png" %}" width="500" align="center"/>
            {% elif mode == 'sec_1bl_2ch' %}
                <img src="{% static "sec_1bl_2ch.png" %}" width="500" align="center"/>
            {% elif mode == 'sec_2bl_1ch' %}
                <img src="{% static "sec_2bl_1ch.png" %}" width="500" align="center"/>
            {% elif mode == 'sec_ownrisk' %}
                <img src="{% static "sec_ownrisk.png" %}" width="500" align="center"/>
            {% elif mode == 'sec_ownrisk_fixedother' %}
                <img src="{% static "sec_ownrisk_fixedother.png" %}" width="500" align="center"/>
            {% elif mode == 'sec_otherrisk_ownfixed' %}
                <img src="{% static "sec_otherrisk_ownfixed.png" %}" width="500" align="center"/>
            {% endif %}
{% endcomment %}

</div>
